<url>
  <loc>{{ post.url | absolute_url }}</loc>
  <lastmod>{{ post.date | date_to_xmlschema }}</lastmod>
  {% if page.priority %}<priority>{{page.priority}}</priority>{%endif%}
  {% assign sitemap_image = post.thumbnail | default: post.image | default: post.cover %}
  {% if sitemap_image %}
    {% if sitemap_image contains '://' %}
      {% assign sitemap_image_loc = sitemap_image %}
    {% else %}
      {% assign sitemap_image_loc = sitemap_image | absolute_url %}
    {% endif %}
    <image:image>
      <image:loc>{{ sitemap_image_loc | xml_escape }}</image:loc>
      <image:title><![CDATA[{{ post.title }}]]></image:title>
      <image:caption><![CDATA[{{ post.title }}]]></image:caption>
    </image:image>
  {% endif %}
</url>
